:root {
    --primaryText: black;
    --secondaryText: #fff;

    --bodyBg: rgb(233, 214, 214);
    --cardBg: white;

    --cardBorder: grey;
}


body {
    background-color: var(--bodyBg);
}

p {
    color: var(--primaryText);
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
    background-color: var(--cardBg);
    padding: 3rem;
}



.card-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

