:root {
    --primaryText: black;
    --secondaryText: #fff;

    --bodyBg: rgb(233, 214, 214);
    --cardBg: white;

    --cardBorder: grey;
}


body {
    background-color: var(--bodyBg);
}

p, h4 {
    color: var(--primaryText);
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
    background-color: var(--cardBg);
    padding: 3rem;
}



.card-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.dot-holder {
    display: flex;
    justify-content: space-between;
}

.theme-dot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

#dot-1 {
    background-color: #fff;
}
#dot-2 {
    background-color: rgb(75, 75, 98);
}
#dot-3 {
    background-color: rgb(124, 177, 124);
}
#dot-4 {
    background-color: rgb(134, 34, 167);
}

